* {
    margin: 0;
    padding:0;
}
:root{
    --z-tooltip: 10;
    --z-fixed: 100;
}

h1, h2{display: inline-block;}
h1{position: relative; transition: 0.3;font-size: 70px;}
.flex{display: flex;}
.box { width: 100%; height: 100%; min-width:1024px; min-height:768px; background-color: #fff; overflow: hidden; position: relative; top:0; z-index: 1;}
.menu{ width: 85%; margin: 0 auto; justify-content: space-between; text-align: center; position: fixed; top: 90%;  left: 100px;  z-index: 10; font-size: 19px; font-weight:bold; transition: 0.4s;} 
.menu img{ width: 60px;}

.page {width: 100%; margin-top:0; transition: margin-top 0.3s; }
.page1{width: 85%; margin: 0 auto;  position: relative; top: 100px;}
.page1__text1 { position: absolute; top: 0; left: 0;}
.page1__text2 { position: absolute; top: 0; right: 0; }
.page1__text3 { position: absolute; top: 40%; left: 0; }
.page1__text1, .page1__text2, .page1__text3 { z-index: var(--z-fixed); }
.page1__item { position: absolute; top: 20%; left: 30% ; z-index: var(--z-tooltip); align-items: center; gap: 2rem;}
i{height: 100px; }